@font-face {
	font-family: Roboto;
	src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
	font-family: ArialReg;
	src: url(../fonts/ArialRegular.ttf);
}
@font-face {
	font-family: ArialBold;
	src: url(../fonts/ArialBold.ttf);
}