@media screen and (max-width: 1199px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 53px;
	}
	.section-1 .sing-up .btn {
		font-size: 24px;
	}
	.section-3 .spent {
		padding: 19px 88px;
	}
	.section-3 .spent p {
		font-size: 24px;
	}
	.section-5 .igor-picture {
		height: 482px;
		margin-top: -4px;
	}
	.section-7 img {
		width: 100%;
	}
	.section-9 .screen {
		height: 352px;
		padding: 21px 0 0 33px;
	}
	.section-9 .video-in-screen {
		width: 464px;
		height: 291px;
	}
	.section-9 p {
		font-size: 29px;
	}
	.section-9 p span {
		font-size: 36px;
	}
	.section-9 .video-experts:last-child {
		margin-top: -280px;
	}
	.section-9 .video-experts:last-child img {
		max-width: 262px;
	}
	.section-10 .strength-block_text p:first-child {
		font-size: 22px;
	}
	.section-11 .section-6_img6 {
		background-size: contain;
	}
	.section-13 .section-13_description p {
		font-size: 16px;
	}
	.section-13 .name-service p {
		font-size: 16px;
	}
	.section-13 .advantages, .section-13 .advantages2, .section-13 .advantages3 {
		padding: 18px 0 34px 0;
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 50px;
	}
	.section-13 .throw {
		font-size: 26px;
	}
	.section-13 .real-price p:first-child {
		font-size: 39px;
	}
	.section-13 .sign-up_for_interviews p {
		font-size: 16px;
	}
	.section-17 .main-program .left-block-of-program p, .section-17 .main-program2 .left-block-of-program p, .section-17 .main-program3 .left-block-of-program p {
		font-size: 19px;
	}
	.section-18 .last-grey-block p {
		font-size: 40px;
	}
	.section-18 .sing-up .btn {
		font-size: 28px;
	}
	footer .last-right-block .couch {
		font-size: 35px;
	}
}
@media screen and (max-width: 991px) {
	.section-1 .header-block p:first-child {
		font-size: 25px;
	}
	.section-1 .header-block p:nth-child(2) {
		font-size: 30px;
	}
	h1 {
		font-size: 37px;
	}
	h2 {
		font-size: 39px;
	}
	.section-1 .header-block h2 {
		margin-top: -15px;
	}
	.section-1 .header-block h3 {
		margin-top: -15px;
	}
	h3 {
		font-size: 39px;
	}
	.section-1 .img-block {
		height: 650px;
	}
	.section-1 .sing-up {
		padding: 20px;
	}
	.section-1 .sing-up p {
		font-size: 19px;
	}
	.section-1 .sing-up p:last-child {
		font-size: 17px;
	}
	.section-1 .sing-up p:last-child span:first-child {
		font-size: 30px;
	}
	.section-1 .sing-up p:last-child span:nth-child(2) {
		font-size: 43px;
	}
	.section-1 .sing-up p:last-child span:last-child {
		font-size: 30px;
	}
	.section-1 .sing-up .btn {
		font-size: 18px;
	}
	.section-2 h2 {
		font-size: 35px;
	}
	.section-2 .if-you-want p {
		font-size: 22px;
	}
	.section-2 .if-you-want ul li {
		font-size: 16px;
	}
	.section-2 .section-2_img {
		height: 568px;
	}
	.section-2 .real-work {
		margin-left: 0;
	}
	.section-2 .section-3_img {
		height: 564px;
	}
	.section-2 .section-4_img {
		display: none;
	}
	.section-4 h2, .section-5 h2 {
		font-size: 35px;
	}
	.section-4 .directions p, .section-5 .directions p {
		font-size: 17px;
	}
	.section-5 {
		margin-top: 80px;
	}
	.section-6 h2, .section-11 h2 {
		font-size: 35px;
	}
	.section-6 .section-6_img3, .section-11 .section-6_img3 {
		height: 311px;
	}
	.section-5 .info-about-me-block p {
		font-size: 35px;
	}
	.section-5 .igor-picture {
		height: 350px;
		margin-top: 143px;
	}
	.section-7 h2 {
		font-size: 35px;
	}
	.section-7 .section-7_description p:last-child {
		font-size: 35px;
	}
	.section-7 .famous-people p {
		font-size: 16px;
	}
	.section-7 .famous-people p span {
		font-size: 20px;
	}
	.section-7 .conference-text p {
		font-size: 30px;
	}
	.section-9 h2 {
		font-size: 35px;
	}
	.section-9 p {
		font-size: 25px;
	}
	.section-9 p span {
		font-size: 31px;
	}
	.section-9 .screen {
		background-position: center;
		margin-top: 35px;
	}
	.section-9 .video-in-screen {
		width: 466px;
		height: 292px;
		margin-left: 80px;
	}
	.section-6 .section-6_img4, .section-11 .section-6_img4 {
		height: 421px;
	}
	.section-6 .section-6_img5, .section-11 .section-6_img5 {
		background-size: contain;
	}
	.section-6 ul li, .section-11 ul li {
		font-size: 16px;
		margin-top: 15px;
	}
	.video-experts iframe {
		height: 185px;
	}
	.section-9 .video-experts:last-child {
		margin-top: -255px;
		padding: 10px 0;
	}
	.section-9 .video-experts:last-child img {
		max-width: 200px;
	}
	.section-9 .video-experts:last-child a {
		font-size: 16px;
	}
	.section-10 h3 {
		font-size: 43px;
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 0 18px;
	}
	.section-10 h2 {
		font-size: 35px;
	}
	.section-10 .strength-block_text {
		padding: 6px 12px;
		height: 140px;
	}
	.section-10 .strength-block_text p:first-child {
		font-size: 16px;
	}
	.section-10 .strength-block_text p {
		font-size: 14px;
	}
	.section-10 .strength-block {
		margin-top: 15px;
	}
	.section-6 ul, .section-11 ul {
		margin-top: 40px;
	}
	.section-11 .section-6_img6 {
		display: none;
	}
	.they-can h2 {
		font-size: 35px;
	}
	.they-can .people-description .name {
		font-size: 14px;
	}
	.they-can .people-description p {
		font-size: 14px;
	}
	.they-can .people-img img {
		max-width: 100px;
	}
	.they-can .video p {
		font-size: 16px;
	}
	.they-can .video iframe {
		height: 185px;
	}
	.section-12 h2 {
		font-size: 35px;
	}
	.section-13_description, .name-service {
		padding: 0;
	}
	.section-13 .section-13_description p {
		font-size: 14px;
	}
	.section-13 .name-service p {
		font-size: 14px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 57px;
	}
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 65px;
	}
	.section-13 .advantages img:nth-child(5), .section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 87px;
	}
	.section-13 .advantages img:nth-child(6), .section-13 .advantages2 img:nth-child(6), .section-13 .advantages3 img:nth-child(6) {
		margin-top: 93px;
	}
	.section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 73px;
	}
	.section-13 .advantages2 img:nth-child(6), .section-13 .advantages3 img:nth-child(6) {
		margin-top: 80px;
	}
	.section-13 .advantages3 img:nth-child(6) {
		margin-top: 57px;
	}
	.section-13 .throw {
		font-size: 18px;
		padding-left: 14px;
		margin-top: 5px;
		margin-bottom: -10px;
	}
	.section-13 .real-price p:first-child {
		font-size: 27px;
		margin-top: 20px;
	}
	.section-13 .sign-up_for_interviews {
		padding: 15px 0px;
	}
	.section-13 .sign-up_for_interviews p {
		font-size: 13px;
	}
	.section-13 .real-price p {
		font-size: 10px;
		margin-top: -5px;
	}
	.section-14 h2 {
		font-size: 35px;
	}
	.section-14 .section-14_text p {
		font-size: 16px;
	}
	.section-14 .section-14_img {
		display: none;
	}
	.section-15 h2 {
		font-size: 35px;
	}
	.section-15 .section-15_text p:first-child {
		font-size: 19px;
	}
	.section-15 .section-15_text p {
		font-size: 15px;
	}
	.section-15 .section-15_text:last-child p:first-child {
		font-size: 25px;
	}
	.section-16 {
		padding: 25px 0 25px 0;
	}
	.section-16 h2 {
		font-size: 35px;
	}
	.section-16 .section-16_text p {
		font-size: 20px;
	}
	.section-16 .section-16_text p span {
		font-size: 24px;
	}
	.section-16 .section-16_img {
		display: none;
	}
	.section-17 h2 {
		font-size: 35px;
	}
	.section-17 .question {
		margin-top: 30px;
	}
	.section-17 .question p:first-child {
		font-size: 35px;
	}
	.section-17 .question p {
		font-size: 16px;
		margin-top: 15px;
	}
	.section-17 .program_description p {
		font-size: 20px;
	}
	.section-17 .main-program .right-block-of-program p, .section-17 .main-program2 .right-block-of-program p, .section-17 .main-program3 .right-block-of-program p {
		font-size: 14px;
	}
	.section-17 .main-program .left-block-of-program p, .section-17 .main-program2 .left-block-of-program p, .section-17 .main-program3 .left-block-of-program p {
		font-size: 16px;
		padding-left: 39px;
	}
	.section-17 .main-program .left-block-of-program:before, .section-17 .main-program2 .left-block-of-program:before, .section-17 .main-program3 .left-block-of-program:before {
		width: 36px;
		background-size: contain;
	}
	.section-17 .main-program .left-block-of-program:after, .section-17 .main-program2 .left-block-of-program:after, .section-17 .main-program3 .left-block-of-program:after {
		width: 9px;
		background-size: contain;
		right: -24px;
	}
	.section-17 .main-program2 .left-block-of-program:before {
		height: 36px;
		margin-top: -18px;
	}
	.section-17 .main-program3 .left-block-of-program:before {
		height: 36px;
		margin-top: -16px;
	}
	.section-17 .section-17_img p {
		font-size: 14px;
	}
	.section-18 .last-grey-block p {
		font-size: 30px;
	}
	.section-18 .last-grey-block p:nth-child(2) {
		font-size: 20px;
	}
	.section-18 .sing-up p:last-child {
		font-size: 16px;
	}
	.section-18 .sing-up .btn {
		font-size: 15px;
	}
	footer .last-left-block p {
		font-size: 16px;
	}
	footer .last-right-block .couch {
		font-size: 25px;
	}
	footer .last-right-block ul a {
		font-size: 15px;
	}
	footer .footer-block .link-block a {
		font-size: 17px;
	}
	footer .last-block p {
		font-size: 16px;
	}
}
@media screen and (max-width: 767px) {
	.section-1 .img-block {
		height: 422px;
	}
	.section-1 .sing-up p {
		font-size: 15px;
	}
	.section-1 .sing-up p:last-child {
		font-size: 14px;
	}
	.section-1 .sing-up p:last-child span:first-child {
		font-size: 24px;
	}
	.section-1 .sing-up p:last-child span:nth-child(2) {
		font-size: 35px;
	}
	.section-1 .sing-up p:last-child span:last-child {
		font-size: 20px;
	}
	.section-1 .sing-up .btn {
		font-size: 11px;
	}
	.section-2 {
		margin-top: 50px;
		margin-bottom: 0px;
	}
	.section-2 h2 {
		font-size: 27px;
	}
	.section-2 .if-you-want ul li {
		padding: 5px 0 5px 40px;
	}
	.section-2 .section-2_img {
		display: none;
	}
	.section-2 .section-3_img {
		height: 470px;
	}
	.spent-main-block, .spent-main-block-2 {
		margin-top: 25px;
	}
	.section-4 h2, .section-5 h2 {
		font-size: 27px;
	}
	.section-6 h2, .section-11 h2 {
		font-size: 27px;
	}
	.section-6 .section-6_img, .section-11 .section-6_img,
	.section-6 .section-6_img2, .section-11 .section-6_img2,
	.section-6 .section-6_img3, .section-11 .section-6_img3 {
		display: none;
	}
	.section-5 .igor-picture {
		height: 350px;
		margin-top: 60px;
	}
	.section-7 h2 {
		font-size: 27px;
	}
	.section-7 .section-7_description p:last-child {
		font-size: 27px;
	}
	.section-7 .famous-people img {
		margin-bottom: 10px;
		margin-top: 15px;
	}
	.section-7 .conference-text {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.section-7 .conference-text p {
		font-size: 24px;
	}
	.section-9 h2 {
		font-size: 27px;
	}
	.section-9 p {
		 padding-right: 0;
	}
	.section-9 .screen {
		padding: 26px 0 0 33px;
	}
	.section-9 .video-in-screen {
		width: 450px;
		height: 282px;
		margin-left: -3px;
	}
	.video-experts iframe {
		height: 288px;
	}
	.section-9 .video-experts:last-child {
		margin-top: 15px;
	}
	.section-10 h3 {
		font-size: 35px;
		padding: 0;
	}
	.section-10 h2 {
		font-size: 27px;
	}
	.section-10 .strength-block_text p:first-child {
		font-size: 18px;
	}
	.section-10 .strength-block_text p {
		font-size: 16px;
	}
	.they-can h2 {
		font-size: 27px;
	}
	.they-can {
		margin-top: 50px;
	}
	.they-can .video iframe {
		height: 288px;
	}
	.section-12 h2 {
		font-size: 27px;
		span {
			background: none;
		}
	}
	.section-13 .section-13_description p {
		font-size: 11px;
	}
	.section-13 .name-service p {
		font-size: 9px;
	}
	.section-13 .advantages, .section-13 .advantages2, .section-13 .advantages3 {
		img {
			max-width: 20px;
		}
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 60px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 45px;
	}
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 55px;
	}
	.section-13 .advantages img:nth-child(5), .section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 73px;
	}
	.section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 66px;
	}
	.section-13 .advantages img:nth-child(6), .section-13 .advantages2 img:nth-child(6), .section-13 .advantages3 img:nth-child(6) {
		margin-top: 80px;
	}
	.section-13 .advantages2 img:nth-child(6), .section-13 .advantages3 img:nth-child(6) {
		margin-top: 72px;
	}
	.section-13 .throw {
		padding-left: 22px;
		margin-bottom: -25px;
	}
	.section-13 .real-price p:first-child {
		font-size: 23px;
		margin-top: 20px;
	}
	.section-13 .sign-up_for_interviews p {
		font-size: 14px;
	}
	.section-14 h2 {
		font-size: 27px;
	}
	.section-14 .section-14_text:first-child {
		margin-top: 40px;
	}
	.section-15 h2 {
		font-size: 27px;
	}
	.section-16 h2 {
		font-size: 27px;
	}
	.section-17 h2 {
		font-size: 27px;
	}
	.section-17 .question p:first-child {
		font-size: 26px;
	}
	.section-17 .main-program .left-block-of-program, .section-17 .main-program2 .left-block-of-program, .section-17 .main-program3 .left-block-of-program {
		padding: 30px 0;
	}
	.section-17 .main-program .left-block-of-program:after, .section-17 .main-program2 .left-block-of-program:after, .section-17 .main-program3 .left-block-of-program:after {
		width: 18px;
		background-size: contain;
		right: 50%;
		transform: rotate(90deg);
		margin-right: -9px;
		top: 100%;
		margin-top: -82px;
	}
	.section-17 .main-program .left-block-of-program:before, .section-17 .main-program2 .left-block-of-program:before, .section-17 .main-program3 .left-block-of-program:before {
		display: none;
	}
	.section-17 .main-program .left-block-of-program p, .section-17 .main-program2 .left-block-of-program p, .section-17 .main-program3 .left-block-of-program p {
		font-size: 21px;
		padding-left: 0;
	}
	.section-17 .margin-block {
		margin-bottom: 0;
	}
	.section-18 .last-grey-block {
		padding: 30px 20px 30px 20px;
	}
	.section-18 .last-grey-block p {
		font-size: 21px;
	}
	.section-18 .last-grey-block p:nth-child(2) {
		font-size: 18px;
	}
	.section-18 .last-grey-block p {
		font-size: 18px;
	}
	.section-18 {
		margin-top: 30px;
	}
	.section-18 .sing-up p:last-child {
		font-size: 14px;
	}
	.section-18 .sing-up p:last-child span:first-child {
		font-size: 25px;
	}
	.section-18 .sing-up p:last-child span:nth-child(2) {
		font-size: 35px;
	}
	.section-18 .sing-up p:last-child span:last-child {
		font-size: 20px;
	}
	.section-18 .sing-up .btn {
		font-size: 11px;
	}
	footer {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.last-right-block {
		margin-top: 25px;
		p {
			text-align: center;
		}
	}
	footer .last-right-block ul {
		margin-left: 29%;
	}
	footer .footer-bg {
		margin-top: 25px;
	}
	footer .footer-block {
		margin-top: 25px;
	}
}
@media screen and (max-width: 532px) {
	.section-1 .sing-up {
		display: block;
		text-align: center;
	}
	.right-info_sing-up {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.section-1 .sing-up .btn {
		font-size: 14px;
	}
	.section-1 .sing-up p {
		font-size: 20px;
	}
	.section-9 .screen {
		padding: 0;
		background: none;
	}
	.section-9 .video-in-screen {
		height: 314px;
		margin-left: 0;
		width: 100%;
	}
	.section-13 {
		display: none;
	}
	.mobile {
		display: block;
	}
	.section-13 .section-13_description p {
		font-size: 14px;
	}
	.section-13 .name-service p {
		font-size: 14px;
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 55px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 43px;
	}
	.section-13 .advantages img:nth-child(6), .section-13 .advantages2 img:nth-child(6), .section-13 .advantages3 img:nth-child(6) {
		margin-top: 67px;
	}
	.section-13 .throw {
		padding-left: 0;
		text-align: center;
		margin-bottom: -15px;
	}
	.section-13 .real-price p {
		font-size: 14px;
		margin-top: -10px;
		margin-left: 0;
	}
	.section-13 .real-price p:first-child {
		font-size: 36px;
		margin-top: 10px;
		margin-left: 0;
	}
	.section-13 .sign-up_for_interviews p {
		font-size: 17px;
	}
	.mr-block {
		margin-top: 30px;
	}
	.section-13 .advantages2 img:nth-child(6) {
		margin-top: 59px;
	}
	.section-13 .advantages3 img:nth-child(6) {
		margin-top: 50px;
	}
	.section-18 .sing-up {
		display: block;
		text-align: center;
	}
	.section-18 .sing-up .btn {
		font-size: 14px;
	}
}
@media screen and (max-width: 522px) {
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 50px;
	}
	.section-13 .advantages img:nth-child(5), .section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 94px;
	}
}
@media screen and (max-width: 500px) {
	.section-7 .section-7_description p:last-child {
		font-size: 25px;
	}
	.section-7 .conference-text p {
		font-size: 22px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 53px;
	}
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 80px;
	}
	.section-13 .advantages img:nth-child(5), .section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 81px;
	}
	.section-17 .question p:first-child {
		font-size: 24px;
	}
}
@media screen and (max-width: 464px) {
	.section-7 .section-7_description p:last-child {
		font-size: 23px;
	}
	.section-7 .conference-text p {
		font-size: 20px;
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 67px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 67px;
	}
	.section-13 .advantages img:nth-child(6), .section-13 .advantages2 img:nth-child(6), .section-13 .advantages3 img:nth-child(6) {
		margin-top: 92px;
	}
	.section-13 .advantages2 img:nth-child(6) {
		margin-top: 71px;
	}
	.section-13 .advantages3 img:nth-child(6) {
		margin-top: 69px;
	}
}
@media screen and (max-width: 447px) {
	.section-5 .info-about-me-block p {
		font-size: 30px;
	}
	.section-18 .last-grey-block {
		text-align: center;
	}
}
@media screen and (max-width: 437px) {
	.section-7 .section-7_description p:last-child {
		font-size: 20px;
	}
}
@media screen and (max-width: 400px) {
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 90px;
	}
}
@media screen and (max-width: 380px) {
	.section-1 .header-block p:first-child {
		font-size: 20px;
	}
	.section-1 .header-block p:nth-child(2) {
		font-size: 30px;
	}
	h1 {
		font-size: 31px;
	}
	.section-1 .header-block h2 {
		margin-top: -10px;
		font-size: 30px;
	}
	.section-1 .header-block h3 {
		margin-top: -10px;
		font-size: 35px;
	}
	.section-5 .info-about-me-block p {
		font-size: 26px;
	}
	.section-5 .info-about-me-block .info-about-me-description p {
		font-size: 16px;
	}
	.section-7 .section-7_description p:last-child {
		font-size: 18px;
	}
	.section-9 p {
		font-size: 20px;
	}
	.section-6 .section-6_img5, .section-11 .section-6_img5 {
		height: 308px;
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 112px;
	}
	.section-13 .advantages img:nth-child(5), .section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 120px;
	}
	.section-17 .main-program .left-block-of-program, .section-17 .main-program2 .left-block-of-program, .section-17 .main-program3 .left-block-of-program {
		padding: 0 0 30px 0;
	}
}
@media screen and (max-width: 348px) {
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 104px;
	}
	.section-7 .section-7_description p:last-child {
		font-size: 16px;
	}
	.section-7 .conference-text p {
		font-size: 18px;
	}
}
@media screen and (max-width: 340px) {
	.section-13 .name-service p {
		font-size: 13px;
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 97px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 62px;
	}
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 78px;
	}
	.section-13 .advantages img:nth-child(5), .section-13 .advantages2 img:nth-child(5), .section-13 .advantages3 img:nth-child(5) {
		margin-top: 106px;
	}
	.section-13 .real-price p:first-child {
		font-size: 34px;
		margin-top: 20px;
	}
	footer .last-right-block ul {
		margin-left: 14%;
	}
	.section-13 .sign-up_for_interviews p {
		font-size: 15px;
	}
}
@media screen and (max-width: 330px) {
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 72px;
	}
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 85px;
	}
	.section-13 .real-price p:first-child {
		font-size: 31px;
	}
}
@media screen and (max-width: 320px) {
	.section-13 .name-service p {
		padding-left: 30px;
	}
	.section-13 .advantages img:nth-child(2), .section-13 .advantages2 img:nth-child(2), .section-13 .advantages3 img:nth-child(2) {
		margin-top: 93px;
	}
	.section-13 .advantages img:nth-child(3), .section-13 .advantages2 img:nth-child(3), .section-13 .advantages3 img:nth-child(3) {
		margin-top: 63px;
	}
	.section-13 .advantages img:nth-child(4), .section-13 .advantages2 img:nth-child(4), .section-13 .advantages3 img:nth-child(4) {
		margin-top: 80px;
	}
}